/**
 * Optional styling classes for printing pages with the Bulma CSS framework.
 * See https://github.com/suterma/bulma-print for documentation
 * 
 * Note: These classes follow the naming pattern from the visibility helpers, 
 * as documented at https://bulma.io/documentation/helpers/visibility-helpers/
 *
 * Note: Ideas are taken from
 * https://www.matuzo.at/blog/i-totally-forgot-about-print-style-sheets/
 * and from
 * https://gitlab.com/find-it-program-locator/newtowne/-/blob/8.x-1.x/src/global/_print.sass
 * As stated there, such code may get into Bulma proper with
 * https://github.com/jgthms/bulma/pull/2329 and https://github.com/jgthms/bulma/issues/721
 */
@media print {
  /* Hide non-printable elements*/
  .is-hidden-print {
    display: none !important;
  }
  /* print out link URLs */
  a:not(.is-not-linked-print)[href]::after {
    content: "(" attr(href) ")";
    padding-left: 0.25rem;
  }
  /* Page breaks and break avoidance */
  .has-page-break-after {
    break-after: page;
  }
  .has-page-break-before {
    break-before: page;
  }
  .is-together-print {
    page-break-inside: avoid;
  }
}
/* Optional print-only elements*/
@media not print {
  .is-print-only {
    display: none !important;
  }
}
