@charset "utf-8";

// bulma-print extends the Bulma CSS framework with additional classes suitable for printing
// See bulma-print.scss
// @devdoc: These styles are experimental, use with caution

@mixin print {
  @media print {
    @content;
  }
}

@include print {

  /* Make sure all is black/white, even opacity is removed */
  * {
    background-color: white !important;
    background-image: none !important;
    color: black !important;
    opacity: 100%;
    /* remove shadows */
    text-shadow: none;
  }

  /* hr elements should print black (they do not by default),
  * in contrast to the other elements defined.
  * Note: just setting the background to black does only work in the
  * print media emulation (in Google Chrome), not in the actual printout
  */
  hr {
    border-top: solid 1px #000 !important;
  }
}